@inherits RenderableViewModelComponentBase<TcoDiagnosticsViewModel>
@using Blazm.Components
@namespace TcoCore

<div class="container">
    <div class="row">
        <div class="col-1 ">
            @if (ViewModel._tcoObject.MessageHandler.ActiveMessagesCount > 0)
            {

                <div style="white-space: nowrap ; padding-top: 2px">
                    <div class="spinner-grow spinner-grow-sm text-info" role="status">
                        <span class="visually-hidden"></span>

                    </div>

                    <span class="badge bg-info text-dark">@ViewModel._tcoObject.MessageHandler.ActiveMessagesCount</span>

                </div>

            }
        </div>
        <div class="col-7">
            <select class="w-100 form-select"
                    @bind="@ViewModel.MinMessageCategoryFilter">
                @foreach (var item in eMessageCategories)
                {

                    <option class="form-control" value="@item">@item.ToString() </option>

                }
            </select>
        </div>


        <div class="col-2">
            <button @onclick="() => ViewModel.RogerAllMessages()"
                    type="button"
                    class="btn btn-secondary">
                Acknowledge all
            </button>

        </div>
        <div class="col-2">

            <button @onclick="() => ViewModel.UpdateMessagesCommand.Execute(null)"
                    type="button"
                    class="btn btn-primary">
                Update messages
            </button>

        </div>

    </div>
  
    <div class="d-flex flex-row">
        <input type="range" class="form-range tooltip-slider w-75" min="1" max="@MaxDiagnosticsDepth" @bind="DepthValue">
        <span class="mx-3">@DiagnosticsMessage()</span>
    </div>
</div>


<BlazmGrid Data="ViewModel.MessageDisplay" PageSize="10" Sortable="true" UseVirtualize="false">
    <NullGridTemplate>
        No messages found.
    </NullGridTemplate>
    <EmptyGridTemplate>
        No messages found.
    </EmptyGridTemplate>
    <GridColumns>
        
        <GridColumn Field="@nameof(PlainTcoMessage.TimeStamp)" />
    
        <GridColumn Field="@nameof(PlainTcoMessage.Text)" Title="Message" />
        <GridColumn Field="@nameof(PlainTcoMessage.Location)" />
        <GridColumn Field="@nameof(PlainTcoMessage.PerCycleCount)" />
        <GridColumn Field="@nameof(PlainTcoMessage.ParentsObjectSymbol)" Title="Symbol" />
        <GridColumn Title="Action">
            <Template>
                
                @{
                    var message = context as PlainTcoMessage;
                }
                @if(message != null)
                {
                <div style="white-space: nowrap">
                    <button @onclick="() => OnSelectedMessage(message)">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button class="btn btn-secondary" @onclick="() => ViewModel.RogerMessage(message)">
                        @if (message.OnlinerMessage.Pinned.Cyclic)
                        {
                            <span>Acknowledge</span>
                        }
                        else
                        {
                            <span>Acknowledged</span>
                        }
                    </button>
                </div>
                }
            </Template>
        </GridColumn>

    </GridColumns>

</BlazmGrid>


@if (ViewModel.AffectedObject != null)
{
    <button @onclick="@(() => { ViewModel.AffectedObject = null; })"><i class="fas fa-times"></i></button>
    
    <div class="card">
        <RenderableContentControl Context="ViewModel.AffectedObject" Presentation="Service" />
    </div>
}



