@page "/counter"
@using PlcHammerConnector;

<h1>
    @Entry.PlcHammer.TECH_MAIN._app._station001.GetSymbolTail();
</h1>
<div>

</div>

<input class="active" >

<button class="btn-light" @onclick="() => Entry.PlcHammer.TECH_MAIN._app._station001._groundModeTask.Execute(null)">
    @Entry.PlcHammer.TECH_MAIN._app._station001._groundModeTask.GetSymbolTail()
</button>
<button class="btn-light" @onclick="() => Entry.PlcHammer.TECH_MAIN._app._station001._automatModeTask.Execute(null)">
    @Entry.PlcHammer.TECH_MAIN._app._station001._automatModeTask.GetSymbolTail()
</button>
<button class="btn-light" @onclick="() => Entry.PlcHammer.TECH_MAIN._app._station001._serviceModeTask.Execute(null)">
    @Entry.PlcHammer.TECH_MAIN._app._station001._serviceModeTask.GetSymbolTail()
</button>



<RenderableContentControl Presentation="Display"
                          Context="@Entry.PlcHammer.TECH_MAIN._app._station001._groundMode" />

