@page "/"


<h1>
    TcOpen.Hammer
</h1>




<div class="d-flex flex-row">
    @foreach (var task in @Station.GetChildren().Where(p => p is TcoCore.TcoTask))
    {

            <RenderableContentControl Presentation="Base"
                                      Context="@task" 
                                      Class="p-2"/>

    }
</div>



<RenderableContentControl Presentation="Display"
                          Context="@Station._groundMode._currentStep.Description" />


<RenderableContentControl Presentation="Display"
                          Context="@Station._groundMode._currentStep.Description" />

<RenderableContentControl Presentation="Display"
                          Context="@Station._automatMode._currentStep.Description" />

<RenderableContentControl Presentation="Display"
                          Context="@Station._processTraceabilty._data" />




@code{

    public Station001 Station => Entry.PlcHammer.TECH_MAIN._app._station001;
    public IVortexObject TechMain => Entry.PlcHammer.TECH_MAIN;
}
