@page "/"

@using PlcHammerConnector;

<h1>
    @Entry.PlcHammer.TECH_MAIN._app._station001.GetSymbolTail();
</h1>

<RenderableContentControl Presentation="Base"
                          Context="@Station._test" />


<div class="d-flex flex-row">
    @foreach (var task in @Station.GetChildren().Where(p => p is TcoCore.TcoTask))
    {
        <div class="p-2">
            <RenderableContentControl Presentation="Base"
                                      Context="@task" />
        </div>

    }
</div>



<RenderableContentControl Presentation="Display"
                          Context="@Station._groundMode._currentStep.Description" />




<RenderableContentControl Presentation="Display"
                          Context="@Station._groundMode._currentStep.Description" />

<RenderableContentControl Presentation="Display"
                          Context="@Station._automatMode._currentStep.Description" />

<RenderableContentControl Presentation="Display"
                          Context="@Station._processTraceabilty._data" />
<p>-------------------------------------------------------------------------</p>




@code{

    public Station001 Station => Entry.PlcHammer.TECH_MAIN._app._station001;
}
