@page "/"
@inherits RenderableComponentBase

<h1>
    TcOpen.Hammer
</h1>
<div>




<div class="d-flex flex-row">
    @foreach (var task in @Station.GetChildren().Where(p => p is TcoCore.TcoTask))
    {

        <RenderableContentControl Presentation="Base"
                                  Context="@task"
                                  Class="p-2" />

    }
</div>


@if (TcoTasksExtensions.TaskStateToVisibility(Station._groundModeTask))
{
    <RenderableContentControl Context="Station._groundMode" Presentation="Base" />
}
@if (TcoTasksExtensions.TaskStateToVisibility(Station._automatModeTask))
{
    <RenderableContentControl Context="Station._automatMode" Presentation="Base" />
}



<RenderableContentControl Presentation="Display"
                          Context="@Station._groundMode._currentStep.Description" />


<RenderableContentControl Presentation="Display"
                          Context="@Station._groundMode._currentStep.Description" />

<RenderableContentControl Presentation="Display"
                          Context="@Station._automatMode._currentStep.Description" />

<RenderableContentControl Presentation="Display"
                          Context="@Station._processTraceabilty._data" />




@code{

    public Station001 Station => Entry.PlcHammer.TECH_MAIN._app._station001;
    public IVortexObject TechMain => Entry.PlcHammer.TECH_MAIN;

    protected override void OnInitialized()
    {
        UpdateValuesOnChange(Station._groundModeTask);
        UpdateValuesOnChange(Station._automatModeTask);
    }

}
