@namespace TcoDrivesBeckhoff
@inherits RenderableViewModelComponentBase<TcoDriveSimpleServiceViewModel>

<h3>Horizontal axis</h3>

<div class="accordion" id="@_accordionId">
    <div class="accordion-item">
        <h2 class="accordion-header" id="@_accordionHeaderId">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@_accordionCollapseId" aria-expanded="false" aria-controls="@_accordionCollapseId">
                @ViewModel.Component.GetSymbolTail()
            </button>
        </h2>
        <div id="@_accordionCollapseId" class="accordion-collapse collapse" aria-labelledby="@_accordionId" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="col p-1">
                        <RenderableContentControl Context="ViewModel.Component._axisStatus.ActPos" />
                    </div>
                    <div class="col p-1">
                        <RenderableContentControl Context="ViewModel.Component._axisStatus.ModuloActPos" />
                    </div>
                    <div class="col p-1">
                        <RenderableContentControl Context="ViewModel.Component._axisStatus.ModuloActTurns" />
                    </div>
                    <div class="col p-1">
                        <RenderableContentControl Context="ViewModel.Component._axisStatus.ActVelo" />
                    </div>
                    <div class="col p-1">
                        <RenderableContentControl Context="ViewModel.Component._axisStatus.ActAcc" />
                    </div>
                    <div class="col p-1">
                        <RenderableContentControl Context="ViewModel.Component._axisStatus.ActTorque" />
                    </div>
                </div>
                <div class="row">
                    <div class="col p-1">
                        <RenderableContentControl Context="ViewModel.Component._axisStatus.CmdNo" />
                    </div>
                    <div class="col p-1">
                        <RenderableContentControl Context="ViewModel.Component._axisStatus.CmdState" />
                    </div>
                    <div class="col p-1">
                        <RenderableContentControl Context="ViewModel.Component._axisStatus.MotionState" />
                    </div>
                    <div class="col p-1">
                        <RenderableContentControl Context="ViewModel.Component._axisStatus.Error" />
                    </div>
                    <div class="col p-1">
                        <RenderableContentControl Context="ViewModel.Component._axisStatus.ErrorId" />
                    </div>
                    <div class="col p-1">
                        <label>Error Description</label>
                        <div>
                            <p>@GetErrorDescription(ViewModel.Component._axisStatus.ErrorId.Cyclic)</p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="btn-group" role="group">
                        <div class="m-1">
                            <RenderableContentControl Context="ViewModel.Component._power._drivePowerOverrideTask"
                                                      Presentation="Base" />
                        </div>
                        <div class="m-1">
                            <RenderableContentControl Context="ViewModel.Component._power._driveEnableLocalTask"
                                                      Presentation="Base" />
                        </div>
                        <div class="m-1">
                            <RenderableContentControl Context="ViewModel.Component._power._driveEnablePositiveLocalTask"
                                                      Presentation="Base" />
                        </div>
                        <div class="m-1">
                            <RenderableContentControl Context="ViewModel.Component._power._driveEnableNegativeLocalTask"
                                                      Presentation="Base" />
                        </div>

                    </div>
                </div>


                <div class="btn-group" role="group">
                    <div class="m-1">
                        <RenderableContentControl Context="ViewModel.Component._resetTask"
                                                  Presentation="Base" />
                    </div>
                    <div class="m-1">
                        <RenderableContentControl Context="ViewModel.Component._soEResetTask"
                                                  Presentation="Base" />
                    </div>
                    <div class="m-1">
                        <RenderableContentControl Context="ViewModel.Component._haltTask"
                                                  Presentation="Base" />
                    </div>
                    <div class="m-1">
                        <RenderableContentControl Context="ViewModel.Component._stopTask"
                                                  Presentation="Base" />
                    </div>

                </div>
                <div class="card p-2 ">
                    <div class="m-2">
                        <RenderableContentControl Context=ViewModel.Component._homeTask
                                                  Presentation="Base" />
                    </div>
                    <div class="d-flex flex-nowrap">

                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._homeTask._position
                                                      Presentation="Control"
                                                      />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._homeTask._homingOptions_SearchVelocity
                                                      Presentation="Control" />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._homeTask._homingOptions_SearchDirection
                                                      Presentation="Control" />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._homeTask._homingOptions_SyncVelocity
                                                      Presentation="Control" />
                        </div>
                    </div>
                    <div class="d-flex flex-nowrap">
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._homeTask._homingOptions_SyncDirection
                                                      Presentation="Control" />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._homeTask._homingMode
                                                      Presentation="Control" />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._homeTask._homingOptions_ReferenceMode
                                                      Presentation="Control" />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._homeTask._homingOptions_ClearPositionLag
                                                      Presentation="Control" />
                        </div>

                    </div>
                </div>
                <div class="card p-2">
                    <div class="btn-group" role="group">
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._jog._jogBackwardsTask
                                                      Presentation="Base" />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._jog._jogForwardTask
                                                      Presentation="Base" />
                        </div>

                    </div>
                    <div class="d-flex flex-nowrap">
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._jog._jogMode
                                                      Presentation="Control" />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._jog._position
                                                      Presentation="Control" />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._jog._velocity
                                                      Presentation="Control" />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._jog._acceleration
                                                      Presentation="Control" />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._jog._deceleration
                                                      Presentation="Control" />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._jog._jerk
                                                      Presentation="Control" />
                        </div>
                    </div>
                </div>
                <div class="card p-2">
                    <div class="d-flex flex-nowrap">
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._moveRelativeTask
                                                      Presentation="Base" />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._moveRelativeTask._distance
                                                      Presentation="Control" />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._moveRelativeTask._velocity
                                                      Presentation="Control" />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._moveRelativeTask._acceleration
                                                      Presentation="Control" />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._moveRelativeTask._deceleration
                                                      Presentation="Control" />
                        </div>
                        <div class="m-2">
                            <RenderableContentControl Context=ViewModel.Component._moveRelativeTask._jerk
                                                      Presentation="Control" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





@code {
    private string _accordionId => $"accordion_{@ViewModel.Component.GetSymbolTail()}";
    private string _accordionHeaderId => $"header_{@ViewModel.Component.GetSymbolTail()}";
    private string _accordionCollapseId => $"collapse_{@ViewModel.Component.GetSymbolTail()}";
    protected override void OnInitialized()
    {
        UpdateValuesOnChange(ViewModel.Component._axisStatus.ErrorId);
    }
}
