
@using MongoDB.Bson
@using TcOpen.Inxton.TcoCore.Blazor.TcoDiagnosticsAlternative.Mapping
@using global::TcoCore
@using BlazorStrap

<h3>ArchiveMessages</h3>


<BSContainer>
  <BSRow class="d-flex align-items-center">
        <BSCol md="6">
            <BSInput InputType="InputType.Select" @bind-Value="@DropDownSelectedCategory">
                @foreach (var category in Enum.GetValues(typeof(eMessageCategory)))
                {
                    <option value="@category">@category</option>
                }
            </BSInput>
        </BSCol>
        <BSCol md="6">
            <BSLabel>Depth Value: @DepthValue</BSLabel>
            <BSInput InputType="InputType.Range" @bind-Value="DepthValue" min="1" max="@MaxDiagnosticsDepth" />
        </BSCol>
    </BSRow>



    <BSTable Striped Bordered Hover>
        <thead>
            <tr>
                <th>UTC Timestamp</th>
                <th>Timestamp Acknowledged</th>
                <th>Rendered Message</th>
                <th>Level</th>
                <th>Message Template Text</th>
                <th>Sender Parent Symbol</th>
            </tr>
        </thead>
        <tbody>
            @if (_messagesToDisplayArchive != null)
            {
                @foreach (var message in _messagesToDisplayArchive)
                {
                    <tr>
                        <td>@message.UtcTimeStamp</td>
                        <td>@(message.TimeStampAcknowledged.HasValue ? message.TimeStampAcknowledged.Value.ToString("MM/dd/yyyy HH:mm:ss") : " ")</td>
                        <td>@message.RenderedMessage</td>
                        <td>@message.Level</td>
                        <td>@message.MessageTemplate?.Text</td>
                        <td>@message.Properties?.sender?.Payload?.ParentSymbol</td>
                    </tr>
                }
            }
        </tbody>
    </BSTable>
    <BSPagination Pages="@_totalPages" @bind-Value="_currentPage" />
</BSContainer>





