@namespace TcoInspectors
@inherits RenderableComplexComponentBase<TcoDataInspector>

@using Vortex.Connector

<div class="card my-3">
    <div class="card-header">
        <a data-bs-toggle="collapse" href="#@ID" role="button" aria-expanded="false" aria-controls="@ID" style="color: inherit; text-decoration: inherit;">
            <div class="row">
                <h4 class="col-auto my-auto">@getNameOrSymbol()</h4>
            </div>
        </a>
    </div>
    <div class="card-body row align-items-center">
        <div class="col-auto">
            <RenderableContentControl Context="@Component._data.RequiredStatus" Presentation="Control" />
        </div>
        <div class="col-auto">
            <RenderableContentControl Context="@Component._data.DetectedStatus" Presentation="Control" />
        </div>
        <div class="col-auto ms-auto">
            <RenderableContentControl Context="@Component._data.StarNotationEnabled" Presentation="Control" />
        </div>
        <div class="col-auto">
            <RenderableContentControl Context="@Component._data.IsByPassed" Presentation="Control" />
        </div>
        <div class="col-auto">
            <RenderableContentControl Context="@Component._data.IsExcluded" Presentation="Control" />
        </div>
        <div class="col-auto">
            <GenericIconView Result="@Component._data.Result.Shadow" />
        </div>
    </div>
    <div class="card-body collapse" id="@ID">
        <GenericTcoInspectorDataView Data="@Component._data" Presentation="Control" />
    </div>
</div>

@code{
    private string ID = "M" + Guid.NewGuid().ToString();

    public string getNameOrSymbol()
    {
        return string.IsNullOrEmpty(Component.AttributeName) ? Component.GetSymbolTail() : Component.AttributeName;
    }
}