@namespace TcoPneumatics
@inherits RenderableViewModelComponentBase<TcoCylinderViewModel>

<h3>@ViewModel.Component.GetSymbolTail()</h3>

    <div class="p-2">
        <RenderableContentControl Context="ViewModel.Component._moveHomeDefault"
                                    Presentation="ProgressBar"></RenderableContentControl>
    </div>
    <div class="p-2">
        <RenderableContentControl Context="ViewModel.Component._stopDefault"
                                    Presentation="ProgressBar"></RenderableContentControl>
    </div>
    <div class="p-2">
        <RenderableContentControl Context="ViewModel.Component._moveWorkDefault"
                                    Presentation="ProgressBar"></RenderableContentControl>
    </div>
    



<TcoSignalInfoView Component="@ViewModel.Component._atHomePosSignalInfo"></TcoSignalInfoView>
<TcoSignalInfoView Component="@ViewModel.Component._toHomePosSignalInfo"></TcoSignalInfoView>
<TcoSignalInfoView Component="@ViewModel.Component._atWorkPosSignalInfo"></TcoSignalInfoView>
<TcoSignalInfoView Component="@ViewModel.Component._toWorkPosSignalInfo"></TcoSignalInfoView>
@code {      
    protected override void OnInitialized()
    {
        UpdateValuesOnChange(ViewModel.Component);
    }
}
