@namespace TcOpen.Inxton.Local.Security.Blazor
@using TcOpen.Inxton.Local.Security.Blazor.Views





<div class="container-fluid">

    <a href="Identity/Account/Register" class="btn btn-primary m-2" style="width:150px">
        Create new user
    </a>
    
    <div class="row ">
        <h5 class="card-title">List of users:</h5>

        <div class="col card m-1" style=" max-height: 500px !important; overflow: auto;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Can change password</th>
                        <th scope="col">Created</th>
                        <th scope="col">Modified</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in _userManager.Users)
                    {
                        <tr @onclick="@(() => RowClicked(user))">
                            <th>@user.UserName</th>
                            <td>@user.CanUserChangePassword</td>
                            <td>Created</td>
                            <td>Modified</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>



    </div>
    @if (SelectedUser != null)
    {
        <div class="row card">

            <div class="card-body">
                <div class="row">

                    <div style="display: flex; justify-content: flex-end">
                        <button type="button" class="btn-close" style="float: right;" @onclick="@(() => CloseUserDetail())"></button>
                    </div>


                    <EditForm Model="@SelectedUser">
                        <DataAnnotationsValidator />
                        <div class="form-group">
                            <label>Username</label>
                            <p class="form-control">@SelectedUser.UserName</p>

                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <InputText @bind-Value="SelectedUser.Email" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label>CanUserChangePassword</label>
                            <InputCheckbox @bind-Value="SelectedUser.CanUserChangePassword" class="form-check-input " />

                        </div>


                    </EditForm>

                    <!--<div class="form-group">
                        <label>Can Change Password</label>
                        <div class="form-check form-switch">-->
                    @*<label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>*@
                    <!--<input class="form-check-input" type="checkbox" checked="@SelectedUser.CanUserChangePassword" role="switch" id="flexSwitchCheckDefault">

                        </div>

                    </div>-->
                </div>

                <div class="row">

                    <div class="col card"
                         style=" height: 300px !important; overflow: auto;">
                        <label>Available roles:</label>
                        @if (AvailableRoles != null)
                        {
                            <div class="list-group ">
                                @foreach (var role in AvailableRoles)
                                {
                                    <label class="list-group-item m-2">
                                        <input class="form-check-input me-1"
                                               type="checkbox"
                                               @bind="role.IsSelected">
                                        @role.RoleName
                                    </label>
                                }

                            </div>
                        }
                    </div>

                    <div class="col-1" style="width:70px">
                        <div>
                            <button class="btn btn-primary  m-1"
                                    @onclick="@(() => AssignRoles())">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                            <button class="btn btn-primary  m-1"
                                    @onclick="@(() => ReturnRoles())">
                                <i class="fas fa-long-arrow-alt-left"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col card"
                         style="height: 300px !important; overflow: auto;">
                        <label>Assigned roles:</label>
                        @if (AssignedRoles != null)
                        {
                            <div class="list-group">
                                @foreach (var role in AssignedRoles)
                                {
                                    <label class="list-group-item m-2">
                                        <input class="form-check-input me-1"
                                               type="checkbox"
                                               @bind="role.IsSelected">
                                        @role.RoleName
                                    </label>
                                }

                            </div>
                        }
                    </div>
                </div>


                <button type="button" class="btn btn-primary" @onclick="@(() => UpdateUser(SelectedUser))">
                    Update
                </button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    Delete
                </button>
            </div>




        </div>
    }
</div>

@if (SelectedUser != null)
{
    <div class="modal fade " id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Do you want to delete @SelectedUser.UserName?</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick="@(() => DeleteUser(SelectedUser))">Delete</button>
                </div>
            </div>
        </div>
    </div>
}


    <!-- Button trigger modal -->
