@namespace TcoInspectors

<div class="row">
    <div class="col me-5">
        <RenderableContentControl Context="@Data.Result" Presentation="@Presentation" />
        <RenderableContentControl Context="@Data.ErrorCode" Presentation="@Presentation" />
        <RenderableContentControl Context="@Data.FailureDescription" Presentation="@Presentation" />
    </div>
    <div class="col mx-5">
        <RenderableContentControl Context="@Data.TimeStamp" Presentation="@Presentation" />
        <RenderableContentControl Context="@Data.FailTime" Presentation="@Presentation" />
        <RenderableContentControl Context="@Data.PassTime" Presentation="@Presentation" />
    </div>
    <div class="col ms-5">
        <RenderableContentControl Context="@Data.NumberOfAllowedRetries" Presentation="@Presentation" />
        <RenderableContentControl Context="@Data.RetryAttemptsCount" Presentation="@Presentation" />
    </div>
</div>

@code {
    [Parameter]
    public TcoInspectorData Data { get; set; }
    [Parameter]
    public string Presentation { get; set; }
}