@namespace TcoElements
@inherits RenderableComplexComponentBase<TcoDi>


<TcoComponentView Component="@Component">
    <TcoComponentHeader>

</TcoComponentHeader>
    <TcoComponentBody>
        <div class="container">
            <div class="row">
                <div class="col">

                </div>
                <div class="col">
                    @if (@Component._signal.Cyclic)
                    {
                        <div class="bg-info p-3 rounded m-2">

                        </div>
                    }
                    else
                    {
                        <div class="bg-primary p-3 rounded m-2">

                        </div>
                    }
                </div>
            </div>
            <div class="row">

                    <TcoSignalInfoView Component="@Component._signalInfo"></TcoSignalInfoView>

                <div class="col">
                    <RenderableContentControl Context="@Component._isFalseTask"></RenderableContentControl>
                </div>
                <div class="col">
                    <RenderableContentControl Context="@Component._isTrueTask"></RenderableContentControl>
                </div>
            </div>
        </div>
    </TcoComponentBody>
</TcoComponentView>
